body {
  padding: 0;
  margin: 0;
  /* background: linear-gradient(to right, #c22ee7, #21a7e6); */
  background-color: #aaa;
  text-align: center;
  border-radius: 5px;
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.container > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #aaa;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 40px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .display {
  color: black;
  font-size: 1.85rem;
  text-align: right;
}

.container > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
